services:
  stats-server:
    ports:
      - "9090:9090"
    build: stats/stats-server
    image: stats/stats-server
    container_name: stats-server
    depends_on:
      - stats-db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://stats-db:5432/statsdb
      - SPRING_DATASOURCE_USERNAME=dbuser
      - SPRING_DATASOURCE_PASSWORD=12345

  stats-db:
    image: postgres:16.1
    ports:
      - "5432:5432"
    volumes:
      - ./volumes/stats-postgres:/var/lib/postgresql/data/
    container_name: stats-db
    environment:
      - POSTGRES_DB=statsdb
      - POSTGRES_USER=dbuser
      - POSTGRES_PASSWORD=12345
    healthcheck:
      test: pg_isready -q -d $$POSTGRES_DB -U $$POSTGRES_USER
      timeout: 5s
      interval: 5s
      retries: 10

#  ewm-service:
#    ports:
#      - "8080:8080"
#    build: main-service
#    image: main-service
#    container_name: ewm-main
#    depends_on:
#      - ewm-db
#    environment:
#      - SPRING_DATASOURCE_URL=jdbc:postgresql://ewm-db:5432/ewmdb
#      - SPRING_DATASOURCE_USERNAME=dbuser
#      - SPRING_DATASOURCE_PASSWORD=12345

  ewm-db:
    image: postgres:16.1
    ports:
      - "5433:5432"
    volumes:
      - ./volumes/ewm-postgres:/var/lib/postgresql/data/
    container_name: ewmdb
    depends_on:
      - stats-server
    environment:
      - POSTGRES_DB=ewmdb
      - POSTGRES_USER=dbuser
      - POSTGRES_PASSWORD=12345
    healthcheck:
      test: pg_isready -q -d $$POSTGRES_DB -U $$POSTGRES_USER
      timeout: 5s
      interval: 5s
      retries: 10

